#NewUser{
    color: black;
}
#NewUser:hover{
    color: white;
    transition: color 0.3s ease;
}
body{
    background: #b7bbbb;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px double black;
    padding: 1em;
}
#logo{
    width: 8em;
    height: 8em;
    border-radius: 100%;
}
#logo:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
#MainHeader{
    font-size: 3em;
    color: black;
    padding-right: 2em;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
#loginButton{
    background-color: #5799c8;
    color: white;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 25px;
    aspect-ratio: 16 / 5;
    font-size: clamp(14px, 2vw, 18px);
    width: clamp(120px, 12%, 200px);
}

#loginButton:hover{
    background-color: #0572c0;
    transition: background-color 0.3s ease;
}