#logo {
    width: 8em;
    height: 8em;
    border-radius: 100%;
}

#logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px double black;
    padding: 1em;
}
#MainHeader {
    font-size: 2em;
    padding-right: 3em;
}

#profilePicture {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    margin-bottom: 1em;
}
.pp{
    display: flex;
    justify-content: center;
}
body{
    background-color:aquamarine;
}