*,
*::before,
*::after {
    box-sizing: border-box;
}

#logo {
    width: 7em;
    height: 7em;
    border-radius: 100%;
}

.username_text{
    color: var(--text-color);
}

.no_comments{
    color: var(--text-color);
}

#logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px double black;
    padding: 1em;
    position: relative;
    width: 100%;
}
#MainHeader {
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
}

#profilePicture {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    margin-bottom: 1em;
    margin-top: -50px;
    border: 3px solid white;
}

.pfp_and_name{
    padding-left: 25px;
    display: flex;
    gap: 1em;
    align-items: center;
}

body{
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    width: 100%;
    aspect-ratio: 7 / 1;
}

#profile_banner {
    width: 100%;
    height: auto; 
    object-fit: cover;
    aspect-ratio: 7 / 1;
    display: block;
}

.profile_content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no_posts{
    font-size: 1.5em;
}

.mainInfo_profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: -20px;
}

.follow_button{
    margin-right: 30px;
}

.posts_number{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: var(--text-color);
}

.posts_number p {
    margin: 0;
}

.followers_number{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: var(--text-color);
}

.followers_number p {
    margin: 0;
}

.numbers{
    display: flex;
    gap: 2em;
}

.bio_div{
    width: 100%;
    padding-left: 35px;
    position: relative;
    color: var(--text-color);
}

.bio_div::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%; /* half width */
    height: 2px;

    background: black;
}

.bio_text{
    line-height: 1.5;
}

.follow_button_style{
    background-color: var(--buttons);
    color: white;
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 999px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.follow_button_style:hover {
    background-color: #0572c0;
    transition: background-color 0.3s ease;
}

.follow_button_style:active{
    transform: scale(0.9);
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--box-bg);
    margin-bottom: 35px;
    width: 60%;  
    max-width: 700px;
    border-radius: 25px;
    padding-bottom: 1.5%;
}

.posts_of_user{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.post_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

}

.user_info {
    display: flex;
    align-items: center;
    padding-left: 2%;
}

#pp {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin-right: 15px;
    margin-left: 5px;
}

.username_over_post{
    padding-left: 5%;
    color: var(--text-color);
}

.post_time{
    display: flex;
    align-items: center;
    padding-right: 2%;
    color: var(--text-color);
}

#postImage,
.post_header,
.post_interactions{
    width: 100%;
}
#postImage{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.postImage{
    width: 100%;
    border-top: 1px double black;
    border-bottom: 1px double black;
    overflow: hidden;
}

.postImage.landscape {
    aspect-ratio: 1.91 / 1;
}

.postImage.square {
    aspect-ratio: 1 / 1;
}

.postImage.portrait {
    aspect-ratio: 9 / 16;
    max-height: none;
    max-width: 380px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.post-content {
    border-bottom: 1px double black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-of-post{
    
    padding-left: 3.5%;
    padding-right: 3.5%;
    color: var(--text-color);
}

.post_interactions{
    display: flex;
    padding-bottom: 1em;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.delete_button{
    margin-top: 1em;
    font-size: large;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    padding: 4px;
    width: 3em;
    background-color: rgb(230, 112, 112);
}

.like_button {
    margin-top: 1em;
    font-size: large;
    margin-right: 1em;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    padding: 4px;
    width: 3em;
}

.question_delete{
    display: none;
    color: var(--text-color);
}

.question_delete.show {
    display: block;
}

.answer_yes{
    border-radius: 10px;
    padding: 10px;
    background-color: #cf1818;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.answer_no{
    border-radius: 10px;
    padding: 10px;
    background-color: #44d94c;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.dislike_button {
    margin-top: 1em;
    font-size: large;
    margin-right: 1em;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    padding: 4px;
    width: 3em;
}


.repost_button {
    margin-top: 1em;
    border-radius: 5%;
    padding: 4px;
    font-size: large;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
}
.comment_button {
    margin-top: 1em ;
    border-radius: 5% ;
    padding: 0 ;
    font-size: large ;
    margin-right: 1em ; 
}

.Comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    background-color: var(--comments-block);
    padding: 0.5em;
    border-radius: 20px;
    margin-bottom: 0.5em;

    width: 98%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;

    /*border-style: groove; */
}

.comment{
    display: flex;
    margin-bottom: 20px;
}

#comment_header{
    color: var(--text-color);
}

#pp_comment{
    width: 2em;
    height: 2em;
    border-radius: 100%;
    margin-right: 15px;
    margin-left: 5px;
}

.text_of_comment{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.comment_username{
    margin: 0px;
}

.write_a_comment{
    margin-top: 5px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.my_comment{
    width: 87%;
    margin-right: 8px;
    min-height: 40px;
    resize: none;
    border-radius: 5px;
}

.new_comment_button{
    border-radius: 25%;
    width: 10%;
    aspect-ratio: 1 / 1;
}

.hashtag{
    color: #2d7aed;
}


.user_reposted{
    font-weight: bold;
    color: var(--text-color);
}

.repost_sign{
    font-size: 1.5em;
    background-color: var(--repost);
    color: var(--text-color);
    padding: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.repost_border{
    border: 2px double var(--repost);
}