body{
    background-color: #b7bbbb;
    font-family: Arial, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px double black;
    padding: 1em;
}
#logo{
    width: 7em;
    height: 7em;
    border-radius: 100%;
}
#logo:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
#MainHeader{
    font-size: 3em;
    color: white;
    padding-right: 2em;
}
.Settings{
    padding-top: 2%;
    padding-bottom: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: white;
    width: 30%;
    border-radius: 20px;
    border: 2px double #5799c8;
}

.bio{
    width: 60%;
    height: 75px;
    resize: none;
    margin-bottom: 3%;
}

.bio_lbl{
    display: block;  
    background-color: #5799c8;
    width: 10%;
    text-align: center; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
}

.SettingsButton{
    background-color: #5799c8;
    color: white;
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 999px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.SettingsButton:hover{
    background-color: #0572c0;
    transition: background-color 0.3s ease;
}
.profilePicture{
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-bottom: 1em;
}
.profilePicture:hover{
    transform: scale(1.04);
    transition: transform 0.3s ease;
}
#selectImage{
    margin-bottom: 1em;
}

.hidden{
    display: none;
}

#selectImageButton{
    background-color: #5799c8;
    color: white;
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#selectImageButton:hover{
    background-color: #0572c0;
    transition: background-color 0.3s ease;
}

#resetImageButton{
    background-color: #d04141;
    color: white;
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 10px;
}
#resetImageButton:hover{
    background-color: #ed0000;
    transition: background-color 0.3s ease;
}

.buttons_manage_icon{
    margin-bottom: 15px;
}
