#NewUser{
    text-decoration: wavy underline;
    color: black;
}
#NewUser:hover{
    color: white;
    transition: color 0.3s ease;
}
body{
    background: linear-gradient(to right, #054e4e, #21c0c9);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px double black;
    padding: 1em;
}
#logo{
    width: 8em;
    height: 8em;
    border-radius: 100%;
}
#logo:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
#MainHeader{
    font-size: 3em;
    color: white;
    padding-right: 2em;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
#signupButton{
    display:flex;
    justify-self: center;
}