{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/Styles/Login.css' %}">
</head>
<body>
    <div class="header">
        <a href="/" ><img id="logo" src="{% static '/Assets/Logo.png' %}" alt= "Webpage Logo"></a>
        <h1 id="MainHeader">Login</h1>
        <h1></h1>
    </div>
    <div class="login">
        <form>
            <label for = "username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for = "password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button id="loginButton" type="submit">Login</button><br><br>
            <a href="/signup" id="NewUser">You don't have an account? Sign up here!</a>
        </form>
    </div>
</body>
</html>
