{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Main Web Page</title>
    <link rel="stylesheet" href="{% static 'Styles/Main_Page.css'%}">
</head>
<body>
    <div class="header">
        {% csrf_token %}
        <div class="logo">
            <a href="home" ><img id="logo" src="{% static '/Assets/Logo.png'%}" alt= "Webpage Logo"></a>
        </div>
        <div class="headerH1">
            <h1 id="MainHeader">Main Web Page</h1>
        </div>
        <div class="profile-dropdown-container">
            <div class="add-post">
                <a href="posting">
                    <button id="addPostButton">Post</button>
                </a>
            </div>
            <div class="profile-dropdown">
                <input type="checkbox" id="toggle-menu">

                <label for="toggle-menu">
                    <img id="pp" src="{{user_profile.profileimg.url}}" alt="Profile Icon">
                </label>

                <div class="dropdown-content">
                    <a class="dropdown-link" href="profile/{{user_profile.user.username}}">Profile</a>
                    <a class="dropdown-link" href="settings">Settings</a>
                    <a class="dropdown-link" href="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        {% for post in posts %}
         <div class="posts">
            <div class="post_header">
                <div class="user_info">
                    <img id="pp" src="{{user_profile.profileimg.url}}" alt="Profile Icon">
                    <h2>{{user_profile.user.username}}</h2>
                </div>
                <div class="post_time">
                    <p>10-05-2026</p>
                </div>
            </div>
            <img id="postImage" src="{{post.image.url}}" alt="Sample Post Image">
            <div class="post-content">
                <p>{{post.text_of_post}}</p>
            </div>
            <div class="post_interactions">
                <a href="/like-post?post_id={{post.id}}">
                    <button id="like_button">👍 {{post.no_of_likes}}</button>
                </a> 
                <a href="/dislike-post?post_id={{post.id}}">
                    <button id="dislike_button">👎 {{post.no_of_dislikes}}</button>
                </a>
                <button id="comment_button">💬 0</button>
                <button id="repost_button">🔄 0</button>
            </div>
            <div class="Comments">
                <h2 id="comment_header">Comments</h2>
                <p>Comment 1</p>
                <p>Comment 2</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>