{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Main Web Page</title>
    <link rel="stylesheet" href="{% static 'Styles/Main_Page.css'%}">
</head>
<body>
    <div class="header">
        {% csrf_token %}
        <div class="logo">
            <a href="home" ><img id="logo" src="{% static '/Assets/Logo.png'%}" alt= "Webpage Logo"></a>
        </div>
        <div class="headerH1">
            <h1 id="MainHeader">Main Web Page</h1>
        </div>
        <div class="profile-dropdown-container">
            <div class="add-post">
                <a href="posting">
                    <button id="addPostButton">Post</button>
                </a>
            </div>
            <div class="profile-dropdown">
                <input type="checkbox" id="toggle-menu">

                <label for="toggle-menu">
                    <img id="pp" src="{{user_profile.profileimg.url}}" alt="Profile Icon">
                </label>

                <div class="dropdown-content">
                    <a class="dropdown-link" href="my_profile">Profile</a>
                    <a class="dropdown-link" href="settings">Settings</a>
                    <a class="dropdown-link" href="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
         <div class="posts">
            <img id="postImage" src="{% static 'Assets/Blank_pic.png' %}" alt="Sample Post Image">
            <div class="post-content">
                <p>This is a sample post content.</p>
            </div>
            <div class="Comments">
                <p>Comment 1</p>
                <p>Comment 2</p>
            </div>
        </div>
    </div>
</body>
</html>