{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="{% static '/Assets/Mint_firstLogo.png'%}">
    <title>Post</title>
    <link rel="stylesheet" href="{% static 'Styles/Post.css' %}">
</head>
<body>
    
    <div class="header">
        <div class="logo">
            <a href="home" ><img id="logo" src="{% static '/Assets/Mint_firstLogo.png'%}" alt= "Webpage Logo"></a>
        </div>
        <div class="headerH1">
            <h1 id="MainHeader">Post</h1>
        </div>
        
        <div class="profile-dropdown-container">
            <div class="profile-dropdown">
                <input type="checkbox" id="toggle-menu">

                <label for="toggle-menu">
                    <img id="pp" src="{{user_profile.profileimg.url}}" alt="Profile Icon">
                </label>

                <div class="dropdown-content">
                    <a class="dropdown-link" href="profile/{{user_profile.user.username}}">Profile</a>
                    <a class="dropdown-link" href="settings">Settings</a>
                    <a class="dropdown-link" href="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <form class="post_form" action="" method="POST" enctype="multipart/form-data">
        <div class="error">

            <style>
                h5{
                    color: red;
                }
            </style>

            {% for message in messages %}
            <h5>
                {{message}}
            </h5>
            {% endfor %}

        </div>
        {% csrf_token %}
        <div class="post">
            <div class="post-image">
                <div id="imagePreviewContainer" class="postImage landscape" style="display: none; margin-bottom: 1em;">
                    <img id="imagePreview" src="" alt="Image Preview" style="display: block; width: 100%; height: 100%; object-fit: cover; object-position: center;">
                </div>
                <input type="file" name="image" accept="image/*" id="selectImage" hidden>
                <div class="buttons_manage_pics">
                    <button type="button" id="selectImageButton">
                        Add Image
                    </button> 

                    <button type="button" class="hidden" id="deleteImageButton">
                        Empty Image
                    </button>
                </div>
                  


                <div class="ratio-selector hidden">
                    <label for="aspect_ratio">Image Orientation:</label>
                    <select name="aspect_ratio" id="aspect_ratio">
                        <option value="landscape">Landscape (1.91:1)</option>
                        <option value="square">Square (1:1)</option>
                        <option value="portrait">Portrait (9:16)</option>
                    </select>
                </div>
            </div>
            <div class="post-content">
                <textarea id="postText" name="postText" placeholder="What's on your mind?"></textarea>
                <button id="postButton" type="submit">Post</button>
            </div>
        </div>
    </form>
    <script src="{% static 'JS/preview_script.js'%}"></script>
</body>
</html>