{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'Styles/Profile.css' %}">
</head>
<body>
    <div class="header">
        <a href="/home" >
            <img id="logo" src="{% static '/Assets/Logo.png' %}" alt= "Webpage Logo">
        </a>
        <h1 id="MainHeader">Profile</h1>
    </div>
    
    <div class="profile_content">

        <div class="banner"></div>

        {% csrf_token %}
        <div class="mainInfo_profile">

            <div class="pfp_and_name">
                <img id="profilePicture" src="{{user_profile.profileimg.url}}" alt="Profile Picture">
                <h2 class="username_text">{{user_profile.user.username}}</h2>
            </div>

            <div class="numbers">
                <div class="posts_number">

                    <p class="posts_count">{{user_post_length}}</p>
                    {% if user_post_length == 0 or user_post_length == 1 %}
                    <p class="posts_text">Post</p>
                    {% else %}
                    <p class="posts_text">Posts</p>
                    {% endif %}
                </div>

                <div class="followers_number">
                    <p class="followers_count">{{followers_count}}</p>
                    {% if followers_count == 0 or followers_count == 1 %}
                    <p class="followers_text">Follower</p>
                    {% else %}
                    <p class="followers_text">Followers</p>
                    {% endif %}
                </div>
            </div>
            
            {% if user_object.username == user.username %}
            <a href="/settings" class="follow_button">
                <button class="follow_button_style">Settings</button>
            </a>
            
            {% else %}
            <form class="follow_button" action="/follow" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ user_object.username }}" name="user" />
                <button class="follow_button_style" type="submit">{{button_text}}</button>
            </form>
            {% endif %}
            

        </div>
        
        <div class="bio_div">
            <h2 class="bio_text">{{user_profile.bio|linebreaks}}</h2>
        </div>

        <div class="posts_of_user">
            {% for post in posts_to_show %}
            <div class="posts">
                <div class="post_header">
                    <a class="user_info" href="/profile/{{post.user}}">
                        <img id="pp" src="{{post.user.profile.profileimg.url}}" alt="Profile Icon">
                        <h2 class="username_over_post">{{post.user}}</h2>
                    </a>
                    <div class="post_time">
                        <p>{{post.created_at}}</p>
                    </div>
                </div>
                <div class="postImage">
                    <img id="postImage" src="{{post.image.url}}" alt="Sample Post Image">
                </div>
                <div class="post-content">
                    <p class="text-of-post">{{post.text_of_post}}</p>
                </div>
                <div class="post_interactions">
                    <button class="like_button" data-post-id="{{ post.id }}">
                        👍 <span class="like-count">{{ post.no_of_likes }}</span>
                    </button>
                    <button class="dislike_button" data-post-id="{{ post.id }}">
                        👎 <span class="dislike-count">{{ post.no_of_dislikes }}</span>
                    </button>
                    <button class="comment_button">💬 0</button>
                    <button class="repost_button">🔄 0</button>
                </div>
                    <div class="Comments">
                        <h2 id="comment_header">Comments</h2>
                        <div class="comment">
                            <a href="/profile/{{post.user}}"><img id="pp_comment" src="{{post.user.profile.profileimg.url}}" alt="Profile Icon"></a>
                            <div class="text_of_comment"><a href="/profile/{{post.user}}"><p class="comment_username">@{{post.user.username}}:</p></a>Comment 1</div>
                        </div>
                        <div class="comment">
                            <img id="pp_comment" src="{{post.user.profile.profileimg.url}}" alt="Profile Icon">
                            <div class="text_of_comment"><p class="comment_username">@{{post.user.username}}:</p>Hugeass comment aahahahah XDDDDDDD YOUUUUUU Hugeass comment aahahahah XDDDDDDD YOUUUUUU Hugeass comment aahahahah XDDDDDDD YOUUUUUU Hugeass comment aahahahah XDDDDDDD YOUUUUUU
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    {% if user_object.username != user.username %}
    <script src="{% static 'JS/follow.js'%}"></script>
    {% endif %}
    <script src="{% static 'JS/like_dislike_fetch.js'%}"></script>
</body>
</html>