{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'Styles/Profile.css' %}">
</head>
<body>
    <div class="header">
        <a href="/home" >
            <img id="logo" src="{% static '/Assets/Logo.png' %}" alt= "Webpage Logo">
        </a>
        <h1 id="MainHeader">Profile</h1>
    </div>
    
    <div class="profile_content">

        <div class="banner"></div>

        {% csrf_token %}
        <div class="mainInfo_profile">

            <div class="pfp_and_name">
                <img id="profilePicture" src="{{user_profile.profileimg.url}}" alt="Profile Picture">
                <h2 class="username_text">{{user_profile.user.username}}</h2>
            </div>

            <div class="numbers">
                <div class="posts_number">
                    <p class="posts_count">29</p>
                    <p class="posts_text">Posts</p>
                </div>

                <div class="followers_number">
                    <p class="followers_count">{{user_profile.number_of_followers}}</p>
                    <p class="followers_text">Followers</p>
                </div>
            </div>
            
            <form class="follow_button" action="/follow" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ user_object.username }}" name="user" />
                <button type="submit">Follow</button>
            </form>
            

        </div>
        
        <div class="bio_div">
            <h2 class="bio_text">{{user_profile.bio|linebreaks}}</h2>
        </div>
        
    </div>
    
    
</body>
</html>