{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/Styles/Settings.css' %}">
</head>
<body>
    <div class="header">
        <a href="home" ><img id="logo" src="{% static '/Assets/Logo.png' %}" alt= "Webpage Logo"></a>
        <h1 id="MainHeader">Settings</h1>
        <h1></h1>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="Settings">
            <img id="profilePicture" src="{{user_profile.profileimg.url}}" alt="Profile Picture">
            <input type="file" name="image" accept="image/*" id="selectImage">
            <!-- <label for="username">Username:</label>
            <input type="text" id="username" name="username"> -->
            <label>Bio</label> 
            <textarea id="bio" name="bio" placeholder="Bio">{{user_profile.bio}}</textarea>
            <button type="submit" id="SettingsButton">Save Changes</button>
        </div>
    </form>
</body>
</html>