{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/Styles/Settings.css' %}">
</head>
<body>
    <div class="header">
        <a href="/home" ><img id="logo" src="{% static '/Assets/Mint_firstLogo.png'%}" alt= "Webpage Logo"></a>
        <h1 id="MainHeader">Settings</h1>
        <h1></h1>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="Settings">
            <img class="profilePicture" src="{{user_profile.profileimg.url}}" alt="Profile Picture">
            <input type="file" name="image" accept="image/*" id="selectImage">
            <label class="bio_lbl">Bio</label> 
            <textarea class="bio" name="bio" placeholder="Bio">{{user_profile.bio}}</textarea>
            <button type="submit" class="SettingsButton">Save Changes</button>
        </div>
    </form>
    <script src="{% static 'JS/settings_submit_fetch.js' %}"></script>
</body>
</html>