{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{%static '/Styles/Signup.css'%}">
</head>
<body>
    <div class="header">
        <a href="/Main_page/Main_Web_Page.html" ><img id="logo" src="{% static '/Assets/Logo.png'%}" alt= "Webpage Logo"></a>
        <h1 id="MainHeader">Sign Up</h1>
        <h1></h1>
    </div>
    <div class="signup">
        
        <div>

            <style>
                h5{
                    color: red;
                }
            </style>

            {% for message in messages %}
            <h5>
                {{message}}
            </h5>
            {% endfor %}

        </div>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" id="username" placeholder="Username" name="username" required><br><br>
            <input type="email" id="email" placeholder="Email" name="email" required><br><br>
            <input type="password" id="password" placeholder="Password" name="password" required><br><br>  
            <input type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required><br><br>
            <button type="submit" id="signupButton">Sign Up</button><br><br>
        </form>
    </div>
</body>
</html>