{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="{% static '/Assets/Mint_firstLogo.png'%}">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{%static '/Styles/Signup.css'%}">
</head>
<body>
    <div class="header">
        <a href="signin" ><img id="logo" src="{% static '/Assets/Mint_firstLogo.png'%}" alt= "Webpage Logo"></a>
        <h1 id="MainHeader">Sign Up</h1>
    </div>
    <div class="signup">
        
        <div>

            <style>
                h5{
                    color: red;
                }
            </style>

            {% for message in messages %}
            <h5>
                {{message}}
            </h5>
            {% endfor %}

        </div>

        <form class="form_signup" action="" method="POST">
            {% csrf_token %}
            <input type="text" class="input_field" id="username" placeholder="Username" name="username" required>
            <input type="email" class="input_field" id="email" placeholder="Email" name="email" required>
            <input type="password" class="input_field" id="password" placeholder="Password" name="password" required> 
            <input type="password" class="input_field" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required>
            <button type="submit"  id="signupButton">Sign Up</button>
            <a href="/signin" id="loginLink"> You already have an account? Log in here.</a>
        </form>
        
    </div>
</body>
</html>